@using BookService.Models
@model List<BookDTO>

<div class="jumbotron">Boeken</div>
<div class="row">
    <div class="col-md-4">
        @foreach (BookDTO b in Model)
        {
            <p>
                <b><a href="#" data-id="@b.Id" class="bookTitle">@b.Title</a></b> <i>@b.AuthorName</i>
            </p>
            <hr />
        }
    </div>
    <div class="col-md-4">
        <p>
            <input id="btnAdd" type="button" value="Add book" class="btn btn-primary" />
            <input id="btnUpdate" type="button" value="Update book" class="btn btn-warning" />
            <input id="btnDelete" type="button" value="Delete book" class="btn btn-danger" />
        </p>
    </div>
</div>


<!-- Bootstrap Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" >
        <div class="modal-content col-lg-12" style="background-color:bisque; background-size:cover">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>*@
                <h4 class="modal-title" id="myModalLabel">Boekdetail</h4>
            </div>
            <div class="modal-body">
                Hier komen de detailgegevevens van een boek.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Sluiten</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var url = 'http://' + window.location.host + '/api/books/';

            var infoModal = $('#myModal');
            $('.bookTitle').on('click', function () {
                $.ajax({
                    type: "GET",
                    url: url + $(this).data('id'),
                    dataType: 'json',
                    success: function (data) {
                        showBook('Book details', data);
                    }
                });
            });

            showBook = function (header, book) {
                var htmlData = '<h4>' + book.Title + '</h4><hr>';
                htmlData += '<p>Auteur:' + book.AuthorName + '</p>';
                htmlData += '<br>Jaar:' + book.Year;
                htmlData += '<br>Prijs:' + book.Price;
                htmlData += '<br>Genre:' + book.Genre;
                infoModal.find('.modal-header').html(header);
                infoModal.find('.modal-body').html(htmlData);
                infoModal.modal('show');
            }



            var newBook = {
                Title : 'Learning Web API' ,
                Year: '2016',
                Price: 40.49,
                AuthorId: 1,
                AuthorName: 'Jane Austin',      // We moeten de authorname opvullen om deze straks te kunnen tonen -->
                                                // controllermethod heeft enkel Id van Author nodig voor Insert
                                                // maar doet bij ons geen nieuwe query naar entity
                Genre: 'Programming'
            }

            $('#btnAdd').on('click', function () {
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: 'json',
                    data: newBook,
                    success: function (data) {
                        newBook = data;
                        showBook('Added Book:', data);
                    }
                });
            });

            $('#btnUpdate').on('click', function () {
                newBook.Title = 'Mastering Web API';
                $.ajax({
                    type: "PUT",
                    url: url + newBook.Id,
                    dataType: 'json',
                    data: newBook,
                    success: function (data) {
                        showBook('Updated Book:', data);
                    }
                });
            });

            $('#btnDelete').on('click', function () {
                $.ajax({
                    type: "DELETE",
                    url: url + newBook.Id,
                    dataType: 'json',
                    data: newBook,
                    success: function (data) {
                        showBook('DELETED Book:', data);
                    }
                });
            });
        });
    </script>
}


